<h2>Sign Up Form</h2>
<%= form_for( @user, url: sign_up_path) do |f| %>
  <%= render 'shared/form_errors', form: f %>
<div class="mb-3">
  <%= f.label :email %>
  <%= f.email_field :email, class: 'form-control' %>
</div>
<div class="mb-3">
  <%= f.label :password %>
  <%= f.password_field :password, class: 'form-control' %>
</div>
<div class="mb-3">
  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation, class: 'form-control' %>
</div>
<div>
  <%= f.submit "Sign Up", class: 'btn btn-primary' %>
</div>
<% end %>
